.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: left;
}
.flex-item{
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 5px;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.row-reverse li{
    background-color: red;
}
.column{
    float: left;
    flex-direction: column;
}
.column li{
    background-color: green;
}
.column-reverse{

    flex-direction: column-reverse;
}
.column-reverse li{
    background-color: black;
}